* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* Cabeçalho */
header {
    position: fixed;
    z-index: 100;
    background-color: #fff;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;    
}

.logo img {
    max-height: 40px; 
}

nav ul {
    list-style: none;
    display: flex;
    gap: 30px; /* Espaçamento entre os links */
}

nav a {   
    font-family: 'Calibri', sans-serif;
    font-size: 20px;
    color: #491673;
    text-decoration: none;
}

/* Estilos para o ícone do hambúrguer (visível em telas grandes) */
.hamburger-menu {
    display: none; /* Inicialmente escondido */
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    width: 30px;
    height: 25px;
}

.hamburger-menu .bar {
    width: 100%;
    height: 4px;
    background-color: #491673;
    border-radius: 5px;
}

/*Home (parte1)*/
#home {
    width: 100%;
}

.gradiente {
    display: flex;
    align-items: center;
    height: 70vh;
    background: linear-gradient(to right, #000000, #000000, #571089, #571089);
}

.box-home {
    padding-left: 5%;
    width: 50%;
    height: 50%;
    font-family: 'Calibri', sans-serif;
    color: white;
}

.box-home h1 {
    font-size: 50px;
}

.box-home p {
    padding-top: 2%;
    font-size: 18px;
}

.box-home button {
    font-size: 17px;
    background-color: #fff;
    color: #571089;
    border-radius: 15px;
    margin-top: 5%;
    height: 45px;
    width: 145px;      
}

/*Home (parte2)*/
.sobre-vivo {
    padding: 5%;
    display: flex;
    align-items: center;
}

.texto-vivo {
    font-family: 'Calibri', sans-serif;
    width: 50%;
}

.texto-vivo h1 {
    color: #571089;
    font-size: 60px;
    position: relative; /* Necessário para posicionar o pseudo-elemento */
}

.texto-vivo h1::after {
    content: ""; /* Cria a linha abaixo do texto */
    display: block;
    width: 60%; 
    height: 7px;
    background-color: #571089;
    margin-bottom: 3%;
}


.texto-vivo p {
    font-size: 23px;
}

.imagens-vivo {
    display: flex;
    justify-content: center;
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2, min-content); /* Ajusta as colunas ao tamanho do conteúdo */
    gap: 15px; 
}

.imagens-vivo img {
    width: 225px; 
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.sobre-vivo button {
    font-size: 17px;
    background-color: #571089;
    color: #fff;
    border-radius: 15px;
    margin-top: 5%;
    height: 45px;
    width: 145px;       
}

/*ODS*/
#ods {
    padding: 5%;
    width: 100%;
    height: 100vh;
}


#ods h1 {
    font-family: 'Calibri', sans-serif;
    color: #571089;
    font-size: 60px;
    position: relative; /* Necessário para posicionar o pseudo-elemento */
}

#ods h1::after {
    content: ""; /* Cria a linha abaixo do texto */
    display: block;
    width: 60%; /* Faz a linha ser mais larga que o texto (ajuste conforme necessário) */
    height: 7px;
    background-color: #571089; 
    margin-bottom: 8%;
}

.imagens-ods {
    display: flex;
    justify-content: center; 
    gap: 50px; 
}

.imagens-ods img {
    width: 350px; 
    height: auto; /* Mantém a proporção original */
}

.imagens-ods img:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}


/*card*/
/* Fundo cinza semi-transparente */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Cor cinza com opacidade */
    z-index: 900; /* Camada abaixo do card */
    backdrop-filter: blur(5px); /* Efeito de desfoque */
}

.ods-card {
    font-family: 'Calibri', sans-serif;
    font-size: 20px;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    background-color: #fff;
    border-radius: 16px;
    text-align: center;
    z-index: 1000;
}

.ods-card img {
    width: 300px;
    margin-top: -100px;
}

.card-info {
    background-color: white;
    padding: 20px;
}

.close-btn {
    margin: 10px;
    padding: 5px 10px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

.close-btn:hover {
    background-color: #571089; 
}


/*Estatísticas*/
#estatisticas {
    font-family: 'Calibri', sans-serif;
    padding: 5%;
    width: 100%;
    height: 100vh;
}

#estatisticas h1 {
    color: #571089;
    font-size: 60px;
    position: relative; /* Necessário para posicionar o pseudo-elemento */
}

#estatisticas p {
    width: 50%;
    font-size: 23px;
}

#estatisticas h1::after {
    content: ""; /* Cria a linha abaixo do texto */
    display: block;
    width: 15%; 
    height: 7px;
    background-color: #571089;
    margin-bottom: 1%;
}







/*Responsividade*/

@media (min-width: 300px) and (max-width: 768px) {
    /*Cabeçalho*/
    .hamburger-menu {
        display: flex;
    }

    #nav-list {
        display: none; /* Esconde o menu inicialmente */
        flex-direction: column;
        gap: 15px;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: white;
        padding: 20px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }

    #nav-list.active {
        display: flex; /* Exibe o menu quando a classe 'active' for adicionada */
    }

    nav a {
        font-size: 18px; /* Ajusta o tamanho da fonte para telas menores */
        color: #491673;
    }

    /*Home*/
    .box-home {
        width: 90%;
        padding-left: 2%;
    }

    /*Home (parte2)*/
    .sobre-vivo {
        padding: 3%;
        display: flex;
        flex-direction: column-reverse;
    }
    
    .texto-vivo {
        width: 100%;
        padding-top: 10%;
    }

    .texto-vivo h1{
        font-size: 50px;
    }

    .imagens-vivo {
        display: flex; 
        justify-content: flex-start; 
        overflow-x: scroll;
        gap: 15px;
        width: 100%;
        padding: 10px 0;
        scroll-snap-type: x mandatory; /* Força o carrossel a "encaixar" nas imagens */
    }

    .imagens-vivo img {
        flex-shrink: 0; /* Impede que as imagens encolham */
        width: 100%; 
        width: 225px; /* Largura máxima para as imagens */
        height: auto;
        scroll-snap-align: start; 
    }

    /*ODS*/
    #ods {
        padding: 0;
        height: auto;
        margin-top: 20%;
    }
    
    #ods h1 {
        text-align: center;
        padding-top: 10%;
        font-size: 40px;
        line-height: 60px;
    }

    #ods h1::after {
        margin: 0 auto;
        margin-bottom: 12%;
    }

    .imagens-ods {
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .imagens-ods img {
        width: 300px;
    }

    /*card*/
    .ods-card {
        width: 300px;
    }

    /*Estatisticas*/
    #estatisticas {      
        margin-top: 20%;
    }

    #estatisticas h1 {
        font-size: 50px;
    }

    #estatisticas p {
        width: 100%;
    }

    #estatisticas h1::after {
        width: 60%; 
    }
}


@media (min-width: 769px) and (max-width: 1024px) {
    .sobre-vivo {
        padding: 3%;
        display: flex;
        flex-direction: column-reverse;
    }

    .texto-vivo {
        padding-top: 5%;
        width: 90%;
    }
}

@media (min-width: 1025px) and (max-width: 1200px) {
    /* Estilos para laptops e desktops pequenos */
}

@media (min-width: 1201px) and (max-width: 1440px) {
    /* Estilos para desktops médios e grandes */
}

@media (min-width: 1441px) {
    /* Estilos para monitores de tela grande */
}
