:root {
    /*cores*/
    --main-color: #571089;
    --color-black: black;
    --color-white: #f9f9f9;

    /*Fonte*/
    --main-font: 'Calibri', sans-serif;

    /*tamanhos*/
    --h1-size: 60px;
    --h3-size: 25px;
    --p-size: 23px;
    --button-text-size : 17px;
}


* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}




/* Elementos com configurações padrões*/
.btn{
    font-size: var(--button-text-size);
    background-color: var(--color-white);
    color: var(--main-color);
    border-radius: 15px;
    margin-top: 5%;
    height: 45px;
    width: 145px; 
}

.decorated-title::after {
    content: "";
    display: block;
    width: 30%; 
    height: 7px;
    background-color: var(--main-color);
    margin-bottom: 3%;
}

.text-box {
    font-family: var(--main-font);
}

.section-content{
    padding: 5% 5%;
}



/* Cabeçalho */
header {
    position: fixed;
    z-index: 100;
    background-color: var(--color-white);
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;    
}

.logo img {
    max-height: 40px; 
}

nav ul {
    list-style: none;
    display: flex;
    gap: 30px; /* Espaçamento entre os links */
}

nav a {   
    font-family: var(--main-font);
    font-size: 20px;
    color: #491673;
    text-decoration: none;
}

/*Dropdown*/
.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--color-white);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding-top: 16px;
}

.dropdown-content a {
    font-size: 20px;
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}
.dropbtn{
    transition: color 0.5s ease;
    color: var(--main-color);
}

.dropbtn:hover {
    color: var(--color-black);
}

/* Estilos para o ícone do hambúrguer (visível em telas grandes) */
.header-menu {
    display: none; /* Inicialmente escondido */
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    width: 30px;
    height: 25px;
}

.header-menu .bar {
    width: 100%;
    height: 4px;
    background-color: #491673;
    border-radius: 5px;
}

/*Home (parte1)*/
#home {
    font-family: var(--main-font);
    width: 100%;
}

.gradiente {
    display: flex;
    align-items: center;
    height: 80vh;
    background: linear-gradient(to right, #000000, #000000, var(--main-color), var(--main-color));
}

.box-home {
    padding-top: 3%;
    padding-left: 5%;
    width: 50%;
    height: 50%;
    color: white;
}

.box-home h1 {
    font-size: 50px;
}

.box-home p {
    padding-top: 2%;
    font-size: 18px;
}



/*Home (parte2)*/
.sobre-vivo {
    display: flex;
}

.texto-vivo {
    width: 50%;
}

.texto-vivo h1 {
    color: var(--main-color);
    font-size: var(--h1-size);
    position: relative; /* Necessário para posicionar o pseudo-elemento */
}

.texto-vivo p {
    font-size: var(--p-size);
}

.imagens-vivo {
    display: flex;
    justify-content: end;
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2, min-content); /* Ajusta as colunas ao tamanho do conteúdo */
    gap: 15px; 
}

.imagens-vivo img {
    width: 225px; 
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.sobre-vivo button {
    background-color: var(--main-color);
    color: var(--color-white);    
}

/*Projeto*/
#projeto {
    font-family: var(--main-font);
    min-height: 100vh;
    width: 100%;
}

.projeto-p1 {
    width: 45%;
}

#projeto h1 {
    color: var(--main-color);
    font-size: var(--h1-size);
    position: relative; /* Necessário para posicionar o pseudo-elemento */
}

#projeto p {
    font-size: var(--p-size);
    padding-bottom: 10%;
}

#projeto h3 {
    font-size: var(--h3-size);
    padding-top: 30px; /* Cria espaço para o círculo acima do título */
    position: relative; /* Permite o posicionamento absoluto do círculo */
}

#projeto h3::before {
    content: ''; 
    position: absolute; 
    top: -20px;
    left: 0; 
    width: 40px;
    height: 40px; 
    border-radius: 50%;
    background-color: #491673;
}




/*ODS*/
#ods {
    font-family: var(--main-font);
    padding: 5%;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


#ods h1 {
    color: var(--main-color);
    font-size: var(--h1-size);
    position: relative; /* Necessário para posicionar o pseudo-elemento */
}

#ods h1::after {
    margin-bottom: 8%;
}

.imagens-ods {
    display: flex;
    justify-content: center; 
    gap: 50px; 
}

.imagens-ods img {
    width: 350px; 
    height: auto; /* Mantém a proporção original */
}

.imagens-ods img:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}


/*card*/
/* Fundo cinza semi-transparente */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Cor cinza com opacidade */
    z-index: 900; /* Camada abaixo do card */
    backdrop-filter: blur(5px); /* Efeito de desfoque */
}

.ods-card {
    font-size: var(--p-size);
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    background-color: var(--color-white);
    border-radius: 16px;
    text-align: center;
    z-index: 1000;
}

.ods-card img {
    width: 300px;
    margin-top: -100px;
}

.card-info {
    background-color: white;
    padding: 20px;
}

.close-btn {
    margin: 10px;
    padding: 5px 10px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

.close-btn:hover {
    background-color: var(--main-color); 
}


/*Estatísticas*/
#estatisticas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: var(--main-font);
    width: 100%;
    min-height: 100vh;
}

#estatisticas h1 {
    color: var(--main-color);
    font-size: var(--h1-size);
    position: relative; /* Necessário para posicionar o pseudo-elemento */
}

#estatisticas p {
    width: 50%;
    font-size: var(--p-size);
    padding-bottom: 5%;
}

/*Error 504*/
#error-504 {
    font-family: var(--main-font);
    padding: 5%;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--color-white)fff;
}

#error-504 h1 {
    font-size: var(--h1-size);
    padding-bottom: 3%;
    text-align: center;
    color: var(--color-white);
}

.error504-video {
    width: 650px;
    height: 400px;
}

/*Padrões*/
#padroes {
    font-family: var(--main-font);
    width: 100%;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 5%;
}

.p1-padroes {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.p2-foto {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 300px; /* Ajuste conforme necessário */
    position: relative; /* Para permitir o posicionamento absoluto da segunda imagem */
}

.p2-foto img {
    width: 80%; /* Tamanho da imagem principal */
}

.p2-foto .ods-img-diagonal {
    position: absolute; /* Posiciona a segunda imagem sobre a primeira */
    top: 80%; /* Ajuste de posicionamento vertical da segunda imagem */
    right: 55%;
    width: 45%; /* Reduz o tamanho para criar contraste */
    z-index: 1; /* Garante que a imagem diagonal fique em cima da original */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5); /* Sombra para destacar */
    border-radius: 8px; /* Bordas levemente arredondadas */
}



#padroes h1 {
    color: var(--main-color);
    font-size: var(--h1-size);
    position: relative; /* Necessário para posicionar o pseudo-elemento */
}

#padroes p {
    font-size: var(--p-size);
    padding-bottom: 5%;
}

#padroes h3 {
    font-size: var(--h3-size);
    padding-top: 30px; /* Cria espaço para o círculo acima do título */
    position: relative; /* Permite o posicionamento absoluto do círculo */
}

#padroes h3::before {
    content: ''; 
    position: absolute; 
    top: -20px;
    left: 0; 
    width: 40px;
    height: 40px; 
    border-radius: 50%;
    background-color: #491673;
}


#padroes ul {
    padding-bottom: 5%;
    padding-left: 2%;
}


.quadrado {
    margin: 10px;             /* Espaçamento entre os quadrados */
    background-color: var(--color-white);   /* Fundo branco */
    flex: 1 1 calc(50% - 20px); /* Cada quadrado ocupará 50% da largura */
    display: flex;
    flex-direction: column;   /* Alinhar os elementos internamente na vertical */
}






.wrapper {
    max-width: 100%;
    margin: auto;
    font-family: var(--main-font);
}

.collapsible {
    margin-bottom: 15px;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    background: #fff;
}

.collapsible-head {
    font-weight: bold;
    background: var(--main-color);
    color: #fff;
    padding: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.collapsible-head:hover {
    background-color: var(--color-white);
    color: var(--color-black);
}

.collapsible-text {
    max-height: 0;
    overflow: hidden;
    padding: 0 15px;
    background-color: #f9f9f9;
    transition: max-height 0.3s ease, padding 0.3s ease;
}

.collapsible-text h2 {
    margin: 15px 0 10px;
    color: #571089;
}

.collapsible-text p {
    margin-bottom: 15px;
}

.text-details {
    padding-left: 2%;
}

/* Quando ativado */
.collapsible.open .collapsible-text {
    max-height: 300px;
    padding: 15px;
    display: flex;
 }

.img-integrantes {
    margin-top: 2%;
    height: auto;
    background-color: #000000;
    width: 100px;
    height: 100px;
    border-radius: 50%; /* Torna o contêiner redondo */
    overflow: hidden; /* Garante que a imagem também seja redonda */
}

.img-integrantes img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}