* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}




/*Cabeçalho*/
header {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;    
}

.logo img {
    max-height: 40px; /* Ajuste conforme necessário */
}

nav ul {
    list-style: none;
    display: flex;
    gap: 30px; /* Espaçamento entre os links */
}

nav a {   
    font-family: 'Calibri', sans-serif;
    font-size: 20px;
    color: #491673;
    text-decoration: none;
}

/*Home (parte1)*/
#home {
    width: 100%;
}

.gradiente {
    display: flex;
    align-items: center;
    height: 70vh;
    background: linear-gradient(to right, #000000, #000000, #571089, #571089);
}

.box-home {
    padding-left: 5%;
    width: 50%;
    height: 50%;
    font-family: 'Calibri', sans-serif;
    color: white;
}

.box-home h1 {
    font-size: 50px;
}

.box-home p {
    padding-top: 2%;
    font-size: 18px;
}

.box-home button {
    font-size: 17px;
    background-color: #fff;
    color: #571089;
    border-radius: 15px;
    margin-top: 5%;
    height: 45px;
    width: 145px;      
}

/*Home (parte2)*/
.sobre-vivo {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 80px;
}

.texto-vivo {
    font-family: 'Calibri', sans-serif;
    width: 50%;
}

.texto-vivo h1 {
    color: #571089;
    font-size: 60px;
}

.texto-vivo p {
    font-size: 23px;
}

.imagens-vivo {
    display: flex;
    justify-content: center;
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2, min-content); /* Ajusta as colunas ao tamanho do conteúdo */
    gap: 15px; 
}

.imagens-vivo img {
    width: 225px; 
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.sobre-vivo button {
    font-size: 17px;
    background-color: #571089;
    color: #fff;
    border-radius: 15px;
    margin-top: 5%;
    height: 45px;
    width: 145px;       
}